<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Pedidos</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
  <div id="app" class="container mt-4">
    <h1>Lista de Pedidos</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Número de Pedido</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Imagen</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <template v-for="(pedido, index) in pedidos">
          <tr v-if="index === 0 || pedido.numero_pedido !== pedidos[index - 1].numero_pedido" :key="pedido.numero_pedido">
            <td>{{ pedido.numero_pedido }}</td>
            <td>{{ pedido.nombre }}</td>
            <td>${{ pedido.precio }}</td>
            <td>{{ pedido.cantidad }}</td>
            <td><img :src="'/images/'+pedido.imagen" alt="Pizza" style="width: 100px;"></td>
            <td>
              <button @click="eliminarPedido(pedido.numero_pedido)" class="btn btn-danger">Pedido terminado</button>
            </td>
          </tr>
          <tr v-else>
            <td></td>
            <td>{{ pedido.nombre }}</td>
            <td>${{ pedido.precio }}</td>
            <td>{{ pedido.cantidad }}</td>
            <td><img :src="'/images/'+pedido.imagen" alt="Pizza" style="width: 100px;"></td>
            <td></td>
          </tr>
          <tr v-if="index === pedidos.length - 1 || pedido.numero_pedido !== pedidos[index + 1].numero_pedido">
            <td colspan="2"></td>
            <td><strong>Total: ${{ calcularTotal(pedido.numero_pedido) }}</strong></td>
            <td colspan="3"></td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script>
    URL = 'http://localhost:5000'
    new Vue({
      el: '#app',
      data: {
        pedidos: []
      },
      mounted() {
        this.obtenerPedidos();
      },
      methods: {
        obtenerPedidos() {
          fetch(URL+'/api/pedidos')
            .then(response => response.json())
            .then(data => {
              this.pedidos = data;
            })
            .catch(error => {
              console.error('Error al obtener los pedidos:', error);
            });
        },
        eliminarPedido(numeroPedido) {
          fetch(URL+`/api/pedidos/${numeroPedido}`, { method: 'DELETE' })
            .then(response => response.json())
            .then(data => {
              console.log(data);
              this.obtenerPedidos();
            })
            .catch(error => {
              console.error('Error al eliminar el pedido:', error);
            });
        },
        calcularTotal(numeroPedido) {
          const pedidosFiltrados = this.pedidos.filter(pedido => pedido.numero_pedido === numeroPedido);
          const total = pedidosFiltrados.reduce((acumulador, pedido) => acumulador + pedido.precio*pedido.cantidad, 0);
          return total;
        }
      }
    });
  </script>
</body>
</html>
